
body {
background-color: antiquewhite;

animation: bodyanime 4s linear infinite;
}



@keyframes bodyanime {

  0% {
    background-color: antiquewhite;
  }


  50% {
    background-color: #f9cc8fc7;
  }


  100% {

    background-color: antiquewhite;
  }
}

.div {

margin: 20px;
width: 100px;
height: 100px;
background-color: red;
cursor: pointer;
}


.box {
  
  height: 160px;
  background-color: orange;
  border-radius: 5%;
  transition: all .4s;
  flex: 0 0 19%;
  display: flex;align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;}

  .box.pointer {
    pointer-events: none;
  }





.box.winner {
background-color: gray !important;
cursor: no-drop;
animation: unset !important;
}



.box img {
width: 65%;
height: 65%;
visibility: hidden;
transition: all .4s;
opacity: 0;

}

.box img.active {
visibility: visible;
opacity: 1;
}

.box img.winner {
visibility: visible;
opacity: 1;
pointer-events: none;
opacity: .5;
animation: anime 1s linear;
pointer-events: none;
    filter: invert(92%);
}



.flipp_container {max-width: 1200px;margin: 21px auto;justify-content: space-between;

width: 95%;
}

.score_container {
max-width: 600px;
margin: 0 auto;
}

.tittle_container {
text-align: center;
}

#popup_window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #ff5722b0;;
   display: none;
}
#popup_window.show {
  display: block;
}
#minute {
  padding-right: 0;
}

#minute.show {
  display: inline;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question span {

display: inline-block;

padding: 20px;

font-family: 'Abril Fatface', cursive;

text-transform: capitalize;

font-size: 16px;

font-weight: bold;

cursor: pointer;

border-radius: 5px;

width: 183px;
} 
.popup_content{
  margin: 10% auto 0;
    max-width: 600px;
    text-align: center;
    background: sandybrown;
    padding: 10px 35px 10px;
    border-radius: 65px 8px 35px 7px;
}
.question span:first-child{
  background-color: red;
}
.question span:last-child{
  background-color: green;
}


.popup_text h2 {
      font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight: bold;
}

   
.tittle_container h1 {

text-transform: capitalize;
font-size: 48px;
 margin-top: 0;
 font-family: 'Abril Fatface', cursive;
}

.score_container {
display: flex;
justify-content: space-between;
}

.score_container span {
text-transform: capitalize;
font-size: 25px;
padding-right: 15px;
color: #fff;
font-weight: bold;
font-family: 'Caveat', cursive;

}

.last_score {
  text-align: center;
    margin: 40px 0;
    font-size: 42px;
    font-weight: bolder;
    font-family: 'Caveat', cursive;
}

#lastscore {
  padding-left: 20px;
   color: green;
}

.box {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 20.4s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-direction:alternate-reverse;
}


@media only screen and (min-width: 992px) {


@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

}


.box.hint {

  animation: shake 0.4s; 
  animation-iteration-count: 1; 
  background-color: #ffb834;
}
.score_container div {
  background: black;
    color: #fff;
    border-radius: 10px;
    padding: 4px 12px 7px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



@media only screen and (max-width: 1576px) {
 .box {
  height: 110px;
 }
 .flipp_container {
    max-width: 960px;
}
}

@media only screen and (max-width: 1376px) {

.box {
    height: 85px;
}

 .flipp_container {
    max-width: 775px;
}
.tittle_container h1 {

    font-size: 44px;
    margin-bottom: 17px;
   
}

.score_container span {
  font-size: 21px;
}

}

@media only screen and (max-width: 992px) {

.tittle_container h1{
    font-size: 23px;
    margin-bottom: 17px;
    padding: 0 45px;
	
}


    .score_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.score_container div {
 
    margin-bottom: 4px;
}

.box {
    height: 60px;
}
.question span {
    padding: 16px;
    font-size: 13px;
    width: 108px;
    margin-right: 10px;
}
.question span{
	padding: 5px;
}
	
	.popup_text h2 {
		font-size: 30px;
	}
	.last_score {
  
    margin: 6px 0;
    font-size: 32px;

}


.popup_content {
    width: 90%;
    padding: 10px 14px 10px;
    border-radius: 38px 8px 35px 7px;
}
.popup_text h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

}




.tour {
  position: relative;
  width: 200px;
  margin: 30px;
  height: 300px;
  perspective: 1500px; }
  .tour_front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .tour_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all 0.5s; }
  .tour:hover .tour_front {
    transform: rotateY(-180deg); }
  .tour:hover .tour_back {
    transform: rotateY(0deg); }



